@{
    ViewData["Title"] = "Home Page";
}

<div class="container centerText">
    <h1 class="">Welcome to The Boat Rental Place</h1>
    <h4 class="">This is the place to go when you are in need of a day or two och the ocean!</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit totam cum ducimus, corporis ratione.
        Iusto impedit explicabo consequuntur quo! Tempora iusto omnis nemo ipsum totam officia minima libero id
        dolor esse est sed voluptatibus maiores ratione, animi, qui cum odio maxime rem provident! Voluptate
        praesentium illo dolore necessitatibus nemo.
    </p>
</div>
<div class="container centerText mt-5">
    <div class="customer">
        <h5 class="textUpper">Welcome aboard!</h5>
        <a class="myBtn" href="/Main/RegisterSkipper">
            New Skipper
        </a>
    </div>
    <div class="customer mt-5">
        <h5 class="textUpper">Welcome Back Skipper!</h5>
        <a class="myBtn" href="/Main">
            Go to rentals
        </a>

    </div>

</div>
